# Configs do PostgreSQL
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=fidelemdb

# Url de conexão que o Node.js usará
# Note que o host do Postgres é 'db', o nome do serviço no docker-compose
DATABASE_URL=postgres://myuser:mypassword@db:5432/fidelemdb

# Porta API Node.js
PORT=3000